@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*{
	margin: 10 auto;
	padding: 0px;
}

h1{
	padding-top: 20px;
	color: rgb(250, 250, 250);
	position: flex;
	float: center;
	text-shadow: 0px 4px 4px #420716;
	font-family: Montserrat;
}

h3{
	color: rgb(250, 250, 250);
	display: flex;
	justify-content: center;
	height: 80px;
	align-items: center;
	text-shadow: 0px 4px 4px #420716;
	font-family: Montserrat;
	font-weight: bold;
}


.btn-primary { background-color: rgb(255, 255, 255); }

img{
	border-radius: 50%;
	width: 40px;
	height: 40px;
	cursor: pointer;
	padding: 0px;
	margin-left: 30px;
	margin-top: 20px;
}

body{
	background: rgb(238,54,41);
	background: linear-gradient(90deg, rgba(238,54,41,1) 0%, rgba(239,72,61,1) 40%, rgba(255,107,61,1) 100%);
	background: -moz-linear-gradient(90deg, rgba(238,54,41,1) 0%, rgba(239,72,61,1) 40%, rgba(255,107,61,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(238,54,41,1) 0%, rgba(239,72,61,1) 40%, rgba(255,107,61,1) 100%);
	background: linear-gradient(90deg, rgba(238,54,41,1) 0%, rgba(239,72,61,1) 40%, rgba(255,107,61,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ee3629",endColorstr="#ff6b3d",GradientType=1);
}

#coluna1 {
	border-radius: 20px;
	margin-top: 1cm;
	width: 35%;
	background-color: rgba(94, 30, 30, 0.466);
	height: 430px;
	padding-left: 12px;
	padding-right: 12px;
	margin-left: 3.5cm;
	float: left;
	text-align: justify;
	line-break:strict;

}


#coluna2 { 
	border-radius: 20px;
	margin-top: 1cm;
	background-color: rgba(94, 30, 30, 0.466);
	width: 35%;
	height: 430px;
	padding-left: 12px;
	padding-right: 12px;
	margin-right: 3.5cm;
	float: right;
	text-align: justify;
	line-break:strict;
}

#colu{

	display:inline-table;
}

p{	
	color: rgba(255, 255, 255, 0.952);
	padding: 2px;
	font-family: Montserrat;

}

#footer p {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 20px;
	padding: 10px 10px 0px 10px;
	text-align: center;
	font-family: Montserrat;
	color: white;
	font-size: 12px;

}

#share {

	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.753);
	border: #420716;
	width: 60%;
	position: absolute;
	margin-top: 40px;
	margin-left: 250px;
	padding: 10px;
	text-align: center;
	align-content: center;
	display: inline-table;
	
	}
	
	#imagem {
	  border-radius: 15px;
	  margin: 2px;
	  height: 30px;
	  width: 35px;
	  padding: 0;
	  bottom: 0cm;
	 }


#twitter:hover{
	background-color: #FFCD5D;
	border-radius: 100%;
}

#wpp:hover{
	background-color: #FFCD5D;
	border-radius: 100%;
  }

#linkedin:hover{
	background-color: #FFCD5D;
	border-radius: 100%;	
}

#facebook:hover{
	background-color: #FFCD5D;
	border-radius: 100%;	
}

#email:hover{
	background-color: #FFCD5D;
	border-radius: 100%;	
}

#people{
	display: flex;
	justify-content: center;
	align-items: center;
}

ul{
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.363);
	border: #420716;
	width: 60%;
	position: absolute;
	margin-top: 40px;
	margin-left: 250px;
	padding: 10px;
	text-align: center;
	align-content: center;
	line-break: strict;
}