/*--============= FONTES =============-->*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*{
  margin: 10 auto;
  padding: 0;
}

body{
position: relative;
background: rgba(239, 72, 61, 0.9);
background: linear-gradient(0deg, rgba(238, 54, 41, 0.9) 0%, rgba(239, 72, 61, 0.9) 0.01%, rgba(239, 72, 61, 0.9) 69.88%, rgba(255, 107, 61, 0.9) 100%);
background: -webkit-linear-gradient(0deg, rgba(238, 54, 41, 0.9) 0%, rgba(239, 72, 61, 0.9) 0.01%, rgba(239, 72, 61, 0.9) 69.88%, rgba(255, 107, 61, 0.9) 100%);
background: -moz-linear-gradient(0deg, rgba(238, 54, 41, 0.9) 0%, rgba(239, 72, 61, 0.9) 0.01%, rgba(239, 72, 61, 0.9) 69.88%, rgba(255, 107, 61, 0.9) 100%);
font-family: Montserrat;
}

h2{
 font-family: Righteous;
 letter-spacing: 2px;
 margin-top: 30px;
 margin-bottom: 5px;
 text-align: center;
 color: rgb(225, 232, 255);
 font-size: 40px;
 text-shadow: 0px 4px 4px #420716;
}

p{
 font-family: Montserrat;
 text-align: center;
 color: black;
 font-size: 18px;
}


/*LISTA TO-DO INICIO*/
#lista {
  
  
  left: 1200px;
  height: 100%;
  position: absolute;
  transition: all .5s;
}
.intro {
  margin: 30px 0px;
  font-weight: bold;
}

#lista h1 {
  font-size: 180%;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 800px;
  
}



.dados{
  margin: 0 auto;
  width: 70%;
}


#enter {
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  color: #f289a5;
  background-color: #2bd266;
  transition: all 0.75s ease;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  -o-transition: all 0.75 ease;
  font-weight: normal;
  display: inline-block;
}

#enter:hover{
  background-color: #02798F;
  color: #FFCD5D;
}

  #enter img{
      width: 25px;
      height: 25px;
  }

ul {
  text-align: left;
  margin-top: 20px;
}


li {
  list-style: none;
  padding: 10px 20px;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 600;
  border: 2px solid #025f70;
  border-radius: 5px;
  margin-bottom: 10px;
  background: #f289a5;
  transition: all 0.75s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5 ease;
}

li:hover {
  background: #f289a5;
}

li > button {
  font-weight: normal;
  background: none;
  border: none;
  float: right !important;
  color: #025f70;
  font-weight: 800;
}

input {
  border-radius: 5px;
  min-width: 90%;
  padding: 5px;
  height: 35px;
  border: none;
  margin: 0px;
  float: left;
}


.done {
  background: #51DF70 !important;
  color: #00891E;
}

.delete {
  display: none;
}



/*LISTA TO-DO FIM*/


/*Cronometro Inicio*/

.max-width {
  max-width: 500px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 10%;
  background-color: rgba(255, 255, 255, 0.295);
  box-shadow: 0 0 5px rgb(255, 255, 255);
  text-align: center;
  font-weight: bold;
  font-family: 'Concert One';
  border-radius: 1;
}

time {
  font-family: Concert One;
  margin-top: 20px;
  }
  
button {
  padding: 10px;
  border: none;
  outline: none;
  font-family: Montserrat;
  font-size: 1.1em;
  transition: all .5s;
  cursor: pointer;
  border-radius: 25px;
  font-weight: bold;
}

button:hover{
background-color: blanchedalmond;
}

.start{
  background-color: rgb(52, 216, 52);
}

.pause{
  background-color: rgb(70, 147, 235);
}

.stop{
  background-color: rgb(202, 54, 54);
}

/*Cronometro Fim*/




/*MENU LATERAL INICIO*/
ul{
  list-style: none; /*Retira a bolinha das listas*/
 }

a{
  text-decoration: none; /*Retira o sublinhado dos links*/
  color: black;
}

img{
  width: 40px; /*Tamanho do icone de menu*/
}

input[type="checkbox"]
{
  display: none;
  
}

nav{
  background-color: rgba(16, 16, 17, 0.282);
  width: 350px;
  left: -350px;
  height: 100%;
  position: absolute;
  transition: all .5s;
}

input[type="checkbox"]:checked ~ nav{
transform: translateX(350px); /*faz o menu aparecer*/
}


ul{
  top: 10%;
  position: absolute;
  width: 100%;
}

a{
  color: white;
  display: block;
  padding: 20px 5px;
}

a:hover{
  background-color: rgb(176,224,230); /*Cor quando o mouse é posicionado no menu*/
  color: black;
}

label{
  
  padding: 15px;
  position: absolute; /*alinha o icone do menu*/
  z-index: 1; /*faz o menu sumir*/
}

/*MENU LATERAL FIM*/

/*FOOTER INICIO*/
#footer {
  position: fixed;
  font-size: smaller;
  bottom: 0;
  width: 100%;
  height: 30px;

}
/*FOOTER LATERAL FIM*/

/*TEMA*/
.tema {
  position: fixed;
  top: 12px;
  right: 10px;
  display: flex;

}
.descricao {
  position: relative;
  padding: 0;
  margin: 4px;
  font-size: 22px;
}

.pointer {
  cursor: pointer;
}

/*MODO ZEN*/
.zen {
  position: fixed;
  top: 50px;
  right: 10px;
  display: flex;

}
.descricao {
  position: relative;
  padding: 0;
  margin: 4px;
  font-size: 22px;
}

/*OCULTAR CRONOMETRO*/
/* Checkbox */
#toggle-1 {
  display:none;
}
 
label { 
 -webkit-appearance: push-button;
 -moz-appearance: button; 
 display: inline-block;
 cursor: pointer;
 padding: 5px;
}
 
/* CSS padrão da div */
#mostra {
  display:none;
}
 
/* CSS quando o checkbox está marcado */
#toggle-1:checked ~ #mostra {
  display:block;
}
 
img{
  width: 30px;
}

/* BARRA DE Progresso*/


body {
  box-sizing: border-box;
  justify-content: center;
  
}
.progress {
  width: 90%;
  height: 15px;
  background: white;
  border-radius: 0px;
  width: 240px;
  margin: 30px;
  right: 0px;

}

.progress-bar {
  position: absolute;
  height: 15px;
  background: #f289a5;
  animation: progress-animation 5s infinite;
  
  
  
    
}

@keyframes progress-animation{
  0% { width: 0%; } 
  100% { width: 73%; }
}