@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*{
  margin: 10 auto;
  padding: 0;
}

body{
position: relative;
background: rgba(239, 72, 61, 0.9);
background: linear-gradient(0deg, rgba(238, 54, 41, 0.9) 0%, rgba(239, 72, 61, 0.9) 0.01%, rgba(239, 72, 61, 0.9) 69.88%, rgba(255, 107, 61, 0.9) 100%);
background: -webkit-linear-gradient(0deg, rgba(238, 54, 41, 0.9) 0%, rgba(239, 72, 61, 0.9) 0.01%, rgba(239, 72, 61, 0.9) 69.88%, rgba(255, 107, 61, 0.9) 100%);
background: -moz-linear-gradient(0deg, rgba(238, 54, 41, 0.9) 0%, rgba(239, 72, 61, 0.9) 0.01%, rgba(239, 72, 61, 0.9) 69.88%, rgba(255, 107, 61, 0.9) 100%);
font-family: Montserrat;
}

h2{
 font-family: Righteous;
 letter-spacing: 2px;
 margin-top: 30px;
 margin-bottom: 5px;
 text-align: center;
 color: rgb(225, 232, 255);
 font-size: 40px;
 text-shadow: 0px 4px 4px #420716;
}

p{
 font-family: Montserrat;
 text-align: center;
 color: black;
 font-size: 18px;
}



/*Cronometro Inicio*/

.max-width {
  max-width: 500px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 10%;
  background-color: #FFF;
  box-shadow: 0 0 5px #FFF;
  text-align: center;
  font-weight: bold;
  border-radius: 1;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
  }

button {
  padding: 10px;
  border: none;
  outline: none;
  font-family: Montserrat;
  font-size: 1.1em;
  transition: all .5s;
  cursor: pointer;
  border-radius: 25px;
  font-weight: bold;
}

button:hover{
background-color: blanchedalmond;
}

.start{
  background-color: rgb(52, 216, 52);
}

.pause{
  background-color: rgb(201, 201, 47);
}

.stop{
  background-color: rgb(202, 54, 54);
}

/*Cronometro Fim*/




/*MENU LATERAL INICIO*/
ul{
  list-style: none; /*Retira a bolinha das listas*/
 }

a{
  text-decoration: none; /*Retira o sublinhado dos links*/
  color: black;
}

img{
  width: 40px; /*Tamanho do icone de menu*/
}

input[type="checkbox"]
{
  display: none;
  
}

nav{
  background-color: rgba(16, 16, 17, 0.282);
  width: 350px;
  left: -350px;
  height: 100%;
  position: absolute;
  transition: all .5s;
}

input[type="checkbox"]:checked ~ nav{
transform: translateX(350px); /*faz o menu aparecer*/
}


ul{
  top: 10%;
  position: absolute;
  width: 100%;
}

a{
  color: white;
  display: block;
  padding: 20px 5px;
}

a:hover{
  background-color: rgb(176,224,230); /*Cor quando o mouse é posicionado no menu*/
  color: black;
}

label{
  
  padding: 15px;
  position: absolute; /*alinha o icone do menu*/
  z-index: 1; /*faz o menu sumir*/
}

/*MENU LATERAL FIM*/

/*FOOTER INICIO*/
#footer {
  position: fixed;
  font-size: smaller;
  bottom: 0;
  width: 100%;
  height: 30px;

}
/*FOOTER LATERAL FIM*/

/*TEMA*/
.tema {
  position: fixed;
  top: 12px;
  right: 10px;
  display: flex;

}
.descricao {
  position: relative;
  padding: 0;
  margin: 4px;
  font-size: 22px;
}