/*--============= FONTES =============-->*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*{
  margin: 10 auto;
  padding: 0;
}

body{
position: relative;
background: rgba(239, 72, 61, 0.9);
background: linear-gradient(0deg, rgba(238, 54, 41, 0.9) 0%, rgba(239, 72, 61, 0.9) 0.01%, rgba(239, 72, 61, 0.9) 69.88%, rgba(255, 107, 61, 0.9) 100%);
background: -webkit-linear-gradient(0deg, rgba(238, 54, 41, 0.9) 0%, rgba(239, 72, 61, 0.9) 0.01%, rgba(239, 72, 61, 0.9) 69.88%, rgba(255, 107, 61, 0.9) 100%);
background: -moz-linear-gradient(0deg, rgba(238, 54, 41, 0.9) 0%, rgba(239, 72, 61, 0.9) 0.01%, rgba(239, 72, 61, 0.9) 69.88%, rgba(255, 107, 61, 0.9) 100%);
font-family: Montserrat;
}

h2{
 font-family: Righteous;
 letter-spacing: 2px;
 margin-top: 30px;
 margin-bottom: 5px;
 text-align: center;
 color: rgb(225, 232, 255);
 font-size: 40px;
 text-shadow: 0px 4px 4px #420716;
}

h3{
  font-size: 150%;
  color: #ffffff;
  font-weight: 800px;
  text-shadow: 0px 4px 4px #420716;
  font-family: Montserrat;
}

p{
 font-family: Montserrat;
 text-align: center;
 color: black;
 font-size: 18px;
}

/*LISTA LATERAL INICIO*/
* { box-sizing: border-box; }

.listaicon{
  position: relative;
}

input[type="lista"]{
  display: inline-block;
  float: left;
  position: relative;
}

nav{
  background-color: rgba(43, 21, 21, 0.282);
  width: 325px;
  left: -300px;
  height: 250%;
  padding: 20px;
  position: absolute;
  transition: all .5s;
  border-radius: 10px;
}

input[type="lista"]:checked ~ nav{
transform: translateX(350px); /*faz o menu aparecer*/
}

#lista {
  display: none;
  transition: all .5s;
  position: relative;
  float: left;
}

ul{
  top: 100%;
  left: 10px;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

/* Checkbox */
#toggle-1 {
  display:none;
}
 
/* CSS padrão da div */
#mostra {
  display:none;
}
 
/* CSS quando o checkbox está marcado */
#toggle-1:checked ~ #mostra {
  display:block;
}

.intro {
  margin: 10px 0px;
  font-weight: bold;
}

.dados{
  margin: 0 auto;
  width: 70%;
  top: 15%;
  width: 250px;
}

#enter {
  border: none;
  padding: 5px 12px;
  border-radius: 5px;
  color: #f289a5;
  background-color: #2bd266;
  transition: all 0.75s ease;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  -o-transition: all 0.75 ease;
  font-weight: normal;
  
}

#enter:hover{
  background-color: #02798F;
  color: #FFCD5D;
}

#enter img{
      width: 25px;
      height: 25px;
  }

li {
  list-style: none;
  padding: 10px 20px;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  background: #da976ad5;
  transition: all 0.75s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5 ease;
  overflow: hidden;  
}

li:hover {
  background: #da976ad5;
}

li > button {
  font-weight: normal;
  background: none;
  border: none;
  float: right !important;
  color: #1d1e1f;
  font-weight: 800;
}

input {
  border-radius: 5px;
  min-width: 90%;
  padding: 5px;
  height: 35px;
  border: none;
  margin: 0px;
  top: 10%;
}


.done {
  background: #51DF70 !important;
  color: #00891E;
}

.delete {
  display: none;
}
/*LISTA TO-DO FIM*/


/*Cronometro Inicio*/

.max-width {
  max-width: 500px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 10%;
  background-color: rgba(255, 255, 255, 0.295);
  box-shadow: 0 0 5px rgb(255, 255, 255);
  text-align: center;
  font-weight: bold;
  font-family: 'Concert One';
  border-radius: 1;
}

time {
  font-family: Concert One;
  margin-top: 20px;
  text-align: center;
  }
  
button {
  padding: 10px;
  border: none;
  outline: none;
  font-family: Montserrat;
  font-size: 1.1em;
  transition: all .5s;
  cursor: pointer;
  border-radius: 25px;
  font-weight: bold;
}

button:hover{
background-color: blanchedalmond;
}

.start{
  background-color: rgb(52, 216, 52);
}

.pause{
  background-color: rgb(70, 147, 235);
}

.stop{
  background-color: rgb(202, 54, 54);
}

/*Cronometro Fim*/




/*MENU LATERAL INICIO*/
ul{
  list-style: none; /*Retira a bolinha das listas*/
 }

a{
  text-decoration: none; /*Retira o sublinhado dos links*/
  color: black;
}

img{
  width: 40px; /*Tamanho do icone de menu*/
}

input[type="checkbox"]
{
  display: none;
}

.check{
  display: inline-block;
  margin: 50px;
  position: relative;
  float: left;
}

nav{
  background-color: rgba(43, 21, 21, 0.282);
  width: 325px;
  left: -350px;
  height: 250%;
  padding: 20px;
  position: absolute;
  transition: all .5s;
  border-radius: 10px;
}

input[type="checkbox"]:checked ~ nav{
  transform: translateX(350px); /*faz o menu aparecer*/
}


ul{
  top: 10%;
  left: 20px;
  width: 250px;
  position: absolute;
  overflow:hidden;
}

a{
  color: white;
  display: block;
  padding: 15px 10px;
}

a:hover{
  background-color: rgb(230, 217, 176); /*Cor quando o mouse é posicionado no menu*/
  color: black;
  border-radius: 15px;
  width: 200px;
}

label{
  padding: 10px;
  display: inline-block;
  position: relative;
}

label.check{
  z-index: 1; /*faz o menu sumir*/
  position: relative;

}

label.listaicon{
  z-index: 2; /*faz o menu sumir*/
  position: relative;
  display: inline-block;
  margin-left: 30px;
}


/*MENU LATERAL FIM*/

/*FOOTER INICIO*/
#footer {
  position: fixed;
  font-size: smaller;
  bottom: 0;
  width: 100%;
  height: 30px;

}
/*FOOTER LATERAL FIM*/

/*TEMA*/
.tema {
  position: fixed;
  top: 40px;
  right: 15px;
  display: flex;

}
.descricao {
  position: relative;
  padding: 0;
  margin: 4px;
  font-size: 22px;
}

.pointer {
  cursor: pointer;
}

/*MODO ZEN*/
.zen {
  position: fixed;
  top: 70px;
  right: 15px;
  display: flex;

}
.descricao {
  position: relative;
  padding: 0;
  margin: 4px;
  font-size: 22px;
}

/*OCULTAR CRONOMETRO*/



 
img{
  width: 30px;
}

/* BARRA DE Progresso*/


body {
  box-sizing: border-box;
  justify-content: center;
  
}
.progress {
  width: 90%;
  height: 15px;
  background: white;
  border-radius: 0px;
  width: 240px;
  margin: 30px;
  right: 0px;

}

.progress-bar {
  position: absolute;
  height: 15px;
  background: #f289a5;
  animation: progress-animation 5s linear;
 
    
}
@keyframes progress-animation{
  0% { width: 0%; } 
  100% { width: 73%; }
}

@keyframes load {
  0% {
      width: 0%;
  }
  10% {
      width: 10%;
  }
  20% {
      width: 20%;
  }
  30% {
      width: 30%;
  }
  40% {
      width: 40%;
  }
  50% {
      width: 50%;
  }
  60% {
      width: 60%;
  }
  73% {
      width: 73%;
  }